<div class="row">
    <div class="col align-self-center">
        <p>En esta columna ingrese fecha de nacimiento para calcular edad</p>
    </div>
    <div class="col align-self-center">
        <p>En esta columna ingrese edad para calcular fecha de nacimiento (Actualmente muestra año de nacimiento)</p>
    </div>
</div>
<div class="row">
    <div class="col align-self-center">
        <label>Ingrese fecha de nacimiento</label>
    </div>
    <div class="col align-self-center">
        <label class="checkbox-inline no_indent">
            <input class="form-check-input" type="checkbox" [(ngModel)]="checkboxBirthday">
            Ya cumplio años este año? Indique su edad</label>
    </div>
</div>
<div class="row">
    <div class="col align-self-center">
        <input class="form-control" type="date" (ngModelChange)="onChangeDate($event)" name="dateInput"
            [ngModel]="dateInput | date:'yyyy-MM-dd'" [ngModelOptions]="{ updateOn: 'blur' }">
    </div>
    <div class="col align-self-center">
        <input class="form-control" type="number" placeholder="Ingrese edad" name="ageInput" [(ngModel)]="ageInput">
    </div>
</div>
<div class="row">
    <div class="col align-self-center">
        <button class="btn btn-primary" (click)="getAge()">Calcular edad</button>
    </div>
    <div class="col align-self-center">
        <button class="btn btn-primary" (click)="getBirthday()">Calcular Fecha de Nacimiento</button>
    </div>
</div>
<div class="row">

    <div class="col align-self-center">
        <label>La edad obtenida: {{ageResult}} años</label>
    </div>
    <div class="col align-self-center">
        <label>Fecha con formato dd/MM/yyyy: {{dateResult | date: 'dd/MM/yyyy'}} </label>
        <label>Fecha con formato yyyy/MM/dd: {{dateResult | date: 'yyyy/MM/dd'}}</label>
    </div>
</div>